
.body-style {
  background-color: rgb(99, 152, 171);
  padding: 8px;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.line {
  width: 1000px;
}

.introduction {
  font-family: Roboto, Arial;
  font-size: 25px;
  margin-bottom: 20px;
  color: white;
  font-style: italic;
}

.first {
  font-size: 14px;
  font-family: Roboto, Arial;
  margin-top: 20px;
  margin-bottom: 0px;
}

.second {
  font-size: 14px;
  font-family: Roboto, Arial;
  margin-top: 5px;
  margin-bottom: 0px;
}

.third {
  font-size: 14px;
  font-family: Roboto, Arial;
  margin-top: 5px;
  margin-bottom: 15px;
}

.click-here {
  display: inline-block;
  margin-bottom: 20px;
  background-color: none;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  width: 320px;
  height: 260px;
  perspective: 1000px;
  cursor: pointer;
  /* background-image: url('./loop arrow.jpg');
  background-size: 100px;
  background-position: top ;
  background-repeat: no-repeat;
  background-color: transparent; */
}

.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  right: 12px;
  object-fit: contain;
  filter: brightness(1.2);
  opacity: 1;
  z-index: 2;
  pointer-events: none;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border: 4px solid black;
  border-radius: 10px;
  background-color: white;
  opacity: 0.95;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face-card {
  display: none;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.skills-block, .goals-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.languages-block, .languages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.goals,
.skills {
  font-size: 25px;
  font-family: Roboto, Arial;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  
}

.languages {
  font-size: 25px;
  font-family: Roboto, Arial;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.languages-list {
  font-size: 14px;
  font-family: Roboto, Arial;
  padding: 0;
  list-style-position: inside;
  margin-top: 0px;
}

.goals-list,
.skills-list {
  font-size: 14px;
  font-family: Roboto, Arial;
  padding: 0;
  list-style-position: inside;
}


.skills-list, .goals-list {
  font-size: 14px;
  font-family: Roboto, Arial;
  padding: 0px;
}

.contact {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 10px;
  margin-top: 25px;
}

.email {
  font-size: 14px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

.phone {
  font-size: 14px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}